/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    display: flex;
}
.container{
    top: 10%;
    left: 10%;
    width: 90%;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    margin-top: 2%;    
}
article{
    font-family: 'Coustard', serif;
    margin-bottom: 5%;
}
.contentSlide{
    margin-left:30%;
}
.footerSlide{
    margin-top: 30%;
}
h1{
    font-size: 8vh;
}
h2{
    font-size: 4vh;
}
h3{
    font-size: 3vh;
}
p{
    font-size: 2vh;
}
@import "~bootstrap/dist/css/bootstrap.css"

